<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="icon" href="logo/logo-mw-white" type="image/icon type">  -->
    <link rel="shortcut icon" type="image/png" href="logo/logo-mw-white">
    
    <title>Maja Wright Portfolio - Front-end developer</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <img src="logo/logo-mw-white.png" alt="logo">
            </div>
            <i class="fas fa-bars" id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="/">
                    <i class="fas fa-border-all"></i>
                    <span class="links_name">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="/about">
                    <i class="fas fa-user-circle"></i>
                    <span class="links_name">About me</span>
                </a>
                <span class="tooltip">About</span>
            </li>
            <li>
                <a href="/projects">
                    <i class="fas fa-folder-open"></i>
                    <span class="links_name">Projects</span>
                </a>
                <span class="tooltip">Projects</span>
            </li>
            <li>
                <a href="/contact">
                    <i class="fas fa-envelope-square"></i>
                    <span class="links_name">Contact Me</span>
                </a>
                <span class="tooltip">Contact Me</span>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="images/IMG_3363.JPG" alt="myphoto">
                    <div class="name_job">
                        <div class="name">Maja Wright</div>
                        <div class="job">Web Developer</div>
                    </div>
                </div>
                <a class="profile_link" href="/about"><i class="fas fa-sign-out-alt" id="log_out"></i></a>
            </div>
        </div>
    </div>
    <div class="home_content">