<%- include("partials/header"); -%>
<section id="about">
    <div class="about_me">
        <div class="about_photo">
            <img src="images/IMG_3363.JPG" alt="myphoto">
        </div>
        <div class="about_description">
            <h1 class="heading_primary">Maja Wright</h1>
            <p>Front-end developer <br>
                <i class="fas fa-map-marker-alt"></i>Orange County, California
            </p>
        </div>
    </div>
    <h1 class="heading_primary">ABOUT ME</h1>
    <hr>
    <p class="text">
        I enjoy living a life full of wonder and having a thirst to learn new skills every single day. I'm a self-taught, front-end developer. I was formerly a teacher, and I have found a new passion for creating and building clean, modern websites, user-friendly, mobile-first applications. I'm very curious, organized, communicative
        and innovative. I am always open to a new ideas and working together in diverse teams.
    </p>
    <div class="cards">
        <div class="card card-pink card-bottom">
            <i class="fas fa-user-graduate card_icon"></i>
            <h1 class="heading_primary">EDUCATION</h1>
            <hr>
            <ul class="card_list">
                <li><i class="fas fa-graduation-cap"></i>The Modern Javascript Bootcamp Course 2021</li>
                <li><i class="fas fa-graduation-cap"></i>Advanced CSS and Sass: Flexbox, Grid, Animations and More! 2020</li>
                <li><i class="fas fa-graduation-cap"></i>The Web Developer Bootcamp 2020</li>
                <li><i class="fas fa-graduation-cap"></i>University of Rijeka, Faculty of Teacher Education in Rijeka</li>
            </ul>
        </div>
    </div>
    <div class="cards">
        <div class="card card-left">
            <i class="fas fa-laptop-code card_icon"></i>
            <h1 class="heading_primary">SKILLS</h1>
            <hr>
            <ul class="card_list">
                <li><i class="fab fa-html5"></i>HTML5</li>
                <li><i class="fab fa-css3-alt"></i>CSS3</li>
                <li><i class="fab fa-sass"></i>Sass</li>
                <li><i class="fab fa-js-square"></i>JavaScript</li>
                <li><i class="fab fa-react"></i>React</li>
                <li><i class="fab fa-node"></i>Node.js</li>
                <li><i class="fab fa-git-square"></i>Git</li>
            </ul>
        </div>
        <div class="card card-pink card-right">
            <i class="fas fa-tools card_icon"></i>
            <h1 class="heading_primary">DEV TOOLS</h1>
            <hr>
            <ul class="card_list">
                <li>VS Code</li>
                <li><i class="fab fa-bootstrap"></i>Bootstrap</li>
                <li>Bulma</li>
                <li><i class="fab fa-github"></i>GitHub</li>
                <li><i class="fab fa-codepen"></i>CodePen</li>
                <li><i class="fas fa-tools"></i>Chrome Dev Tools</li>
                <li><i class="fab fa-google"></i>Google Fonts</li>
            </ul>
        </div>
    </div>
    <a class="about_btn" href="/projects">See My Work <i class="fas fa-arrow-circle-right"></i></a>
</section>
<%- include("partials/footer"); -%>