<%- include("partials/header"); -%>
<section id="contact">
    <div class="contact_text animation-left">
        <div class="contact_text-title">
            <h1 class="heading_primary">Contact Me!</h1>
            <hr>
            <p>
                Interested in knowing more about me?<br>
                I would love to chat!
            </p>
        </div>
        <div class="contact_text-icons">
            <a target="_blank" href="mailto:maja.filipasic@hotmail.com"><i class="fas fa-envelope-square"></i></a>
            <a target="_blank" href=""><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://github.com/maja-wright"><i class="fab fa-github-square"></i></a>  
        </div>
    </div>
    <!-- <form class="contact_form animation-right" action="https://formsubmit.co/maja.filipasic@hotmail.com" method="POST">
        <input type="hidden" name="_subject" value="New submission!">
        <input type="text" name="name" placeholder="Name" required autofocus>
        <input type="email" name="email" placeholder="Email Address" required>
        <input type="text" name="message" placeholder="Your message" required>
        <input type="hidden" name="_next" value="https://yourdomain.co/home.ejs">

        <button class="contact-btn" type="submit">Send</button>
    </form> -->
    <form class="contact_form animation-right" action="https://getform.io/f/61db97a9-94f1-494b-ae9e-0830dbc2fca6" method="POST">
        <input type="hidden" name="_subject" value="New submission!">
        <input type="text" name="name" placeholder="Name" required autofocus>
        <input type="email" name="email" placeholder="Email Address" required>
        <input type="text" name="message" placeholder="Your message" required>

        <button class="contact-btn" type="submit">Send</button>
    </form>
</section>
<%- include("partials/footer"); -%>