<%- include("partials/header"); -%>
<section id="home">
    <section class="home_top">
        <div class="home_top-photo">
            <img src="images/web_development.png" alt="web_development">
        </div>
        <div class="home_top-text animation-bottom">
            <h1 class="pre-dynamic dynamic-text"><span>Hello, I'm Maja.</span></h1>
            <h1 class="heading_secondary">Front-end developer</h1>
            <a class="home-btn" href="/contact">Say Hello <i class="fas fa-paper-plane"></i></a>
        </div>
    </section>
    <section class="home_middle">
        <div class="home_middle_about">
            <h1 class="heading_primary">Who Am I?</h1>
            <hr>
            <p class="text">
                I enjoy living a life full of wonder and having a thirst to learn new skills every single day. I'm a self-taught, front-end developer. I was formerly a teacher, and I have found a new passion for creating and building clean, modern websites, user-friendly, mobile-first applications. <a href="/about" class="home_link home_link-grey">Read more...</a>
            </p>
            <img src="/images/girl_with_laptop.png" alt="girl_with_laptop">
        </div>
        <div class="home_quote">
            <p>I design and code beautifully simple things, and I love what I do.</p>
        </div>
        <div class="cards">
            <div class="home_card animation-left">
                <img class="card_img" src="images/web_design.png" alt="web_design_img">
                <h1>DESIGN</h1>
                <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
            </div>
            <div class="home_card animation-bottom">
                <img class="card_img" src="images/computer.png" alt="laptop_img">
                <h1>DEVELOPMENT</h1>
                <p>I like to code things from scratch and build clean, user-friendly, modern designs. </p>
            </div>
            <div class="home_card animation-right">
                <img class="card_img" src="images/cellphonee.png" alt="cellphone_img">
                <h1>MOBILE-FRIENDLY</h1>
                <p>A responsive design makes your website accesible to all users, regardless of their device.</p>
            </div>
        </div>
        <a class="home-btn" href="/projects">See My Work <i class="fas fa-angle-double-right"></i></a>
    </section>
    <section class="home_bottom">
        <div class="home_bottom-text">
            <div class="contact_text-icons">
                <a target="_blank" href="mailto:maja.filipasic@hotmail.com"><i class="fas fa-envelope-square"></i></a>
                <a target="_blank" href=""><i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/maja-wright"><i class="fab fa-github-square"></i></a>  
            </div>
            <p>Would you like to make something special? Click <a class="home_link home_link-white" href="/contact">here</a> and send me a message</p>
        </div>
    </section>
</section>
<%- include("partials/footer"); -%>