<%- include("partials/header"); -%>
<section id="home">
    <section class="home_top">
        <div class="custom-shape-divider-bottom-1630429925">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="home_top-photo">
            <img src="images/web_development.png" alt="web_development">
        </div>
        <div class="home_top-text animation-bottom">
            <h1 class="heading_primary">Hello, I'm Maja.</h1>
            <h1 class="heading_secondary">Front-end developer</h1>
            <a class="home-btn" href="/contact">Say Hello <i class="fas fa-paper-plane"></i></a>
        </div>
    </section>
    <section class="home_middle">
        <div class="home_middle_about">
            <h1 class="heading_primary">Who Am I?</h1>
            <hr>
            <p class="text">
                I enjoy living a life full of wonder and having a thirst to learn new skills every single day. I'm a self-taught, front-end developer. I was formerly a teacher, and I have found a new passion for creating and building clean, modern websites, user-friendly, mobile-first applications. <a href="/about" class="home_link home_link-grey">Read more...</a>
            </p>
            <p class="pre-dynamic dynamic-text"><span>I design and code beautifully simple things, and I love what I do.</span></p>
            <img src="/images/girl_with_laptop.png" alt="girl_with_laptop">
        </div>
        <div class="cards">
            <div class="home_card animation-left">
                <img class="card_img" src="images/web_design.png" alt="web_design_img">
                <h1>DESIGN</h1>
                <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
            </div>
            <div class="home_card animation-bottom">
                <img class="card_img" src="images/computer.png" alt="laptop_img">
                <h1>DEVELOPMENT</h1>
                <p>I like to code things from scratch and build clean, user-friendly, modern designs. </p>
            </div>
            <div class="home_card animation-right">
                <img class="card_img" src="images/cellphonee.png" alt="cellphone_img">
                <h1>MOBILE-FRIENDLY</h1>
                <p>A responsive design makes your website accesible to all users, regardless of their device.</p>
            </div>
        </div>
        <a class="home-btn" href="/about">Learn More <i class="fas fa-angle-double-right"></i></a>
        <div class="pre-slideshow_title">
            <h1 class="heading_primary">
                My Projects
            </h1>
            <hr>
        </div>
        <div class="slideshow">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img class="slideshow-image" src="/images/projects/winery_wright1.jpg" alt="winery_wright">
                    <div class="slideshow-content">
                        <h1 class="heading_primary">Winery Wright</h1>
                        <a class="slideshow-link" target="_blank" href="https://github.com/maja-wright/winery-wright"><i class="fab fa-github"></i></a>
                        <a class="slideshow-link" target="_blank" href="https://obscure-caverns-96037.herokuapp.com/"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
    
                <div class="mySlides fade">
                    <img class="slideshow-image" src="images/projects/promocija1.jpg" alt="promocija">
                    <div class="slideshow-content">
                        <h1 class="heading_primary">Promocija</h1>
                        <a class="slideshow-link" target="_blank" href="https://github.com/maja-wright/promocija"><i class="fab fa-github"></i></a>
                        <a class="slideshow-link" target="_blank" href="https://www.promocija-ri.com/"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                
                <div class="mySlides fade">
                    <img class="slideshow-image" src="images/projects/secret_message1.jpg" alt="secret_message">
                    <div class="slideshow-content">
                        <h1 class="heading_primary">Secret Message</h1>
                        <a class="slideshow-link" target="_blank" href="https://github.com/maja-wright/secret_message"><i class="fab fa-github"></i></a>
                        <a class="slideshow-link" target="_blank" href="https://maja-wright.github.io/secret_message/"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                
                <div class="mySlides fade">
                    <img class="slideshow-image" src="images/projects/maze2.jpg" alt="maze">
                    <div class="slideshow-content">
                        <h1 class="heading_primary">Maze</h1>
                        <a class="slideshow-link" target="_blank" href="https://github.com/maja-wright/maze"><i class="fab fa-github"></i></a>
                        <a class="slideshow-link" target="_blank" href="https://ecstatic-visvesvaraya-8f6ba4.netlify.app/"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
    
                <div class="mySlides fade">
                    <img class="slideshow-image" src="images/projects/timer.jpg" alt="timer">
                    <div class="slideshow-content">
                        <h1 class="heading_primary">Timer</h1>
                        <a class="slideshow-link" target="_blank" href="https://github.com/maja-wright/Timer"><i class="fab fa-github"></i></a>
                        <a class="slideshow-link" target="_blank" href="https://maja-wright.github.io/Timer/"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
    
                <div class="mySlides fade">
                    <img class="slideshow-image" src="images/projects/drumKit.jpg" alt="drum_kit">
                    <div class="slideshow-content">
                        <h1 class="heading_primary">Drum Kit</h1>
                        <a class="slideshow-link" target="_blank" href="https://github.com/maja-wright/drumkit"><i class="fab fa-github"></i></a>
                        <a class="slideshow-link" target="_blank" href="https://trusting-cray-fb7a5a.netlify.app/"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
    
                <div class="mySlides fade">
                    <img class="slideshow-image" src="images/projects/DiceeGame.jpg" alt="dice_game">
                    <div class="slideshow-content">
                        <h1 class="heading_primary">Dicee Game</h1>
                        <a class="slideshow-link" target="_blank" href="https://github.com/maja-wright/dicee-game"><i class="fab fa-github"></i></a>
                        <a class="slideshow-link" target="_blank" href="https://maja-wright.github.io/dicee-game/"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
        </div>
        <a class="home-btn" href="/projects">Read More About My Work <i class="fas fa-angle-double-right"></i></a>
    </section>
    <section class="home_bottom">
        <div class="custom-shape-divider-top-1630435531">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="home_bottom-text">
            <div class="contact_text-icons">
                <a target="_blank" href="mailto:maja.filipasic@hotmail.com"><i class="fas fa-envelope-square"></i></a>
                <a target="_blank" href=""><i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/maja-wright"><i class="fab fa-github-square"></i></a>  
            </div>
            <p>Would you like to make something special? Click <a class="home_link home_link-white" href="/contact">here</a> and send me a message</p>
        </div>
    </section>
</section>
<%- include("partials/footer"); -%>