<%- include("partials/header"); -%>
<section id="projects">
    <div class="gallery">
        <h1 class="heading_primary">My Projects</h1>
        <hr>
        <div class="gallery_card">
            <div class="gallery_card-text">
                <h2 class="heading_secondary">Winery Wright</h2>
                <div class="gallery_card-links">
                    <a target="_blank" href="https://github.com/maja-wright/winery-wright">Github</a>
                    <a target="_blank" href="https://obscure-caverns-96037.herokuapp.com/">Demo</a>
                </div>
                <p>
                    Winery Wright is a website about the winery which offers many products and services. The design features a big background picture of their vineyard at the top of the page with the selection of their availabe services. The winery offers tastings and tours, as well a warm dining experiance.
                </p>
                <h1 class="heading_primary">Built with:</h1>
                <ul>
                    <li>HTML5 & CSS3</li>
                    <li>SASS</li>
                    <li>JavaScript ES6</li>
                    <li>Google Fonts</li>
                    <li>Font Awesome Icons</li>
                    <li>Photos downloaded from Unsplash</li>
                </ul>
            </div>
            <div class="gallery_card-photos">
                <img src="images/projects/winery_wright1.jpg" alt="winery_wright">
                <img src="images/projects/winery_wright2.jpg" alt="winery_wright">
            </div>
        </div>
        <hr>
        <div class="gallery_card">
            <div class="gallery_card-text">
                <h2 class="heading_secondary">Promocija</h2>
                <div class="gallery_card-links">
                    <a target="_blank" href="https://github.com/maja-wright/promocija">Github</a>
                    <a target="_blank" href="https://www.promocija-ri.com/">Live</a>
                </div>
                <p>
                    Promocija d.o.o. is a Croatian company which offers a various event rental equipment.
                </p>
                </p>
                <h1 class="heading_primary">Built with:</h1>
                <ul>
                    <li>HTML5 & CSS3</li>
                    <li>Node Js</li>
                    <li>Google Fonts</li>
                    <li>Font Awesome Icons</li>
                </ul>
            </div>
            <div class="gallery_card-photos">
                <img src="images/projects/promocija1.jpg" alt="promocija">
                <img src="images/projects/promocija2.jpg" alt="promocija">
            </div>
        </div>
        <hr>

        <div class="gallery_card">
            <div class="gallery_card-text">
                <h2 class="heading_secondary">Secret Message</h2>
                <div class="gallery_card-links">
                    <a target="_blank" href="https://github.com/maja-wright/secret_message">Github</a>
                    <a target="_blank" href="https://maja-wright.github.io/secret_message/">Demo</a>
                </div>
                <p>
                    Secret Message is a website where the user can write the message in the textarea which is then encrypted into the URL link. When the user presses the Create button, the content changes into the URL that the user can share with anyone. When this other person opens the link, it displays the message that user previosly typed. That person can also create their own secret message.
                </p>
                </p>
                <h1 class="heading_primary">Built with:</h1>
                <ul>
                    <li>HTML5 & CSS3</li>
                    <li>JavaScript ES6</li>
                    <li>Node Js</li>
                    <li>Google Fonts</li>
                    <li>Font Awesome Icons</li>
                    <li>Photos downloaded from Unsplash</li>
                </ul>
            </div>
            <div class="gallery_card-photos">
                <img src="images/projects/secret_message2.jpg" alt="secret_message">
                <img src="images/projects/secret_message3.jpg" alt="secret_message">
            </div>
        </div>
        <hr>

        <div class="gallery_card">
            <div class="gallery_card-text">
                <h2 class="heading_secondary">Maze</h2>
                <div class="gallery_card-links">
                    <a target="_blank" href="https://github.com/maja-wright/maze">Github</a>
                    <a target="_blank" href="https://ecstatic-visvesvaraya-8f6ba4.netlify.app/">Demo</a>
                </div>
                <p>
                    Guide the ball through the maze until you reach a goal. Player controls the ball with the "WASD" keys on the keyboard. Goal is to get the ball to touch the green square. Each level is getting progressively harder and harder.
                </p>
                </p>
                <h1 class="heading_primary">Built with:</h1>
                <ul>
                    <li>HTML5 & CSS3</li>
                    <li>JavaScript ES6</li>
                    <li>Matter.js - a 2D physics engine for the web built in JavaScript</li>
                </ul>
            </div>
            <div class="gallery_card-photos">
                <img src="images/projects/maze1.jpg" alt="maze">
                <img src="images/projects/maze2.jpg" alt="maze">
            </div>
        </div>
        <hr>

        <div class="gallery_card">
            <div class="gallery_card-text">
                <h2 class="heading_secondary">Timer</h2>
                <div class="gallery_card-links">
                    <a target="_blank" href="https://github.com/maja-wright/Timer">Github</a>
                    <a target="_blank" href="https://maja-wright.github.io/Timer/">Demo</a>
                </div>
                <p>
                    A Timer which counts downwards to zero. Count down from 30 to 0, from 50 to zero or any amount you want. You choose.
                </p>
                </p>
                <h1 class="heading_primary">Built with:</h1>
                <ul>
                    <li>HTML5 & CSS3</li>
                    <li>JavaScript ES6</li>
                </ul>
            </div>
            <div class="gallery_card-photos">
                <img src="images/projects/timer.jpg" alt="timer">
            </div>
        </div>
        <hr>

        <div class="gallery_card">
            <div class="gallery_card-text">
                <h2 class="heading_secondary">Drum Kit</h2>
                <div class="gallery_card-links">
                    <a target="_blank" href="https://github.com/maja-wright/drumkit">Github</a>
                    <a target="_blank" href="https://trusting-cray-fb7a5a.netlify.app/">Demo</a>
                </div>
                <p>
                    A Drum Kit has a number of keys that represent different drums in a typical drum kit setup. When the user clicks on any of these buttons, it gets the corresponding sounds of the drum. In addition, you can also use the keys on the keyboard.
                </p>
                </p>
                <h1 class="heading_primary">Built with:</h1>
                <ul>
                    <li>HTML5 & CSS3</li>
                    <li>JavaScript ES6</li>
                </ul>
            </div>
            <div class="gallery_card-photos">
                <img src="images/projects/drumKit.jpg" alt="drum_kit">
            </div>
        </div>
        <hr>

        <div class="gallery_card">
            <div class="gallery_card-text">
                <h2 class="heading_secondary">Dicee Game</h2>
                <div class="gallery_card-links">
                    <a target="_blank" href="https://github.com/maja-wright/dicee-game">Github</a>
                    <a target="_blank" href="https://maja-wright.github.io/dicee-game/">Demo</a>
                </div>
                <p>
                    Dicee Game is an application with the Player 1 Dice and Player 2 Dice and when the user clicks the button Roll Dice then the dices get thrown randomly. Player 1 and Player 2, both have their dice values and then the website announces the winner depending on who's dice value was higher. This application is mainly built with the JavaScript, selecting and manipulating the elements with the DOM.
                </p>
                </p>
                <h1 class="heading_primary">Built with:</h1>
                <ul>
                    <li>HTML5 & CSS3</li>
                    <li>JavaScript ES6</li>
                </ul>
            </div>
            <div class="gallery_card-photos">
                <img src="images/projects/DiceeGame.jpg" alt="dice_game">
                <img src="images/projects/player1wins.jpg" alt="dice_game">
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer"); -%>